{% extends "layout.html" %}
{% block body %}
    <h1>Welcome to the home page</h1>
    <p>Here is the content of the home page</p>
    <form action = "/name" method="POST">
        <label for="pname">Enter your name!!!!</label><br>
        <input type="text" name="pname" placeholder="Enter your name"><br><br>

        <label for="page">Enter your age!!!!</label><br>
        <input type="text" name="page" placeholder="Enter your age"><br><br>

        <label for="pemail">Enter your email!!!!</label><br>
        <input type="text" name="pemail" placeholder="Enter your email"><br><br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}